.header {
    height: auto;
    background-color: white;
}



header {
  text-align: center;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .logo {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 30%;
  border: 3px solid white;
  transition: all .5s;
}
header .logo:hover {
  transform: scale(1) rotate(360deg);
}

body {
    background-image: url(naujas.jpg);
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1700px;
}


.title {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    font-family: 'Yesteryear', cursive;
    font-size: 6em;
    border: 0;
    padding-top: 10px;
}


h1 {
    font-size: 3em;
}

h3 {
    font-size: 1em;
}

img.poultry {
    display: flex;
    height: 75%;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

img.pasta{
    display: flex;
    height: 75%;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

.text {
    text-align: center;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}

.post img {
    margin: 0 auto;
    max-width: 75%;
}

h1 {
    padding: 0.3em;
}

h3 {
    padding: 0.2em;
}
.footer {
    height: auto;
    padding: 2%;

    }